@import './variables.scss';

body, #root{
  display: flex;
  justify-content: center;
  font-family: $main-font;
  width: 100%;
}

body{
  margin: 0;
  background-color: #F7F8F5;
}

.flex-c{
  display: flex;
  flex-direction: column;
}
.flex-r{
  display: flex;
  flex-direction: row;
}