@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$main-font: 'Poppins', sans-serif;
$theme-color: #A749FF;

$background-color: #FAF7ED;
$font-color: #2A2723;
$border-color: #56A7B5;