@import '../../../assets/scss/variables.scss';

.desktop {
  &__container {
    width: 100%;
    background-color: $background-color;
  }
  &__hidden {
    display: none;
  }
}

.navbar {
  &__container {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 1;
    height: 50px;
    padding: 12px 12px;
    box-sizing: border-box;
    align-items: center;

    a {
      font-size: 10px;
      text-decoration: none;
      margin-right: 12px;
      color:$font-color !important;
      &:visited, &:hover, &:focus, &:active { color:$font-color; }
      &:hover { text-decoration: underline; }
    }
    #navbar__first__wrapper {
      flex-grow: 1;
      // margin-left: 8px;
    }
    #navbar__last__link {
      margin-right: 0px;
    }
  }
}

.header {
  &__wrapper {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    margin-bottom: -50px;
  }
  &__container {
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50%;
    color: $font-color;

    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    &-first {
      border-bottom: 1px solid $font-color;
    }
  }
}