@import '@assets/scss/variables.scss';

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #F7F8F5;
  display: none;

  &__display {
    display: block !important;
  }

  &__header {
    display: grid;
    grid-template-columns: 70% 27% 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    padding: 10px 22px 24px 15px;
    box-sizing: border-box;
    background-color: #F7F8F5;

    &__categories {
      display: grid;
      height: 100px;

      button {
        padding: 0;
        background: none;
        border: none;
        text-align: left;
        box-sizing: none;
        outline: none;
        font-size: 11px;
        height: 11px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    &__close {
      padding: 0;
      background: none;
      border: none;
      text-align: right;
      box-sizing: none;
      outline: none;
      width: 20px;
      height: 20px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__project__tooltip__image {
    max-width: 65vh;
    &__container {
      position: absolute;
      display: none;
    }
  }

  &__project__list {
    margin-top: 150px;

    &__header {
      position: fixed;
      background-color: #F7F8F5;
      display: grid;
      grid-template-columns: 18% 28% 24% 27% 3%;
      border-bottom: 1px solid black;
      font-size: 10px;
      padding: 10px 22px 24px 15px;
      left: 0;
      right: 0;
    }
    &__content {
      padding-top: 50px;

      &__link {
        font-size: 10px;
        text-decoration: none;
        color:black !important;
        &:visited, &:hover, &:focus, &:active { color:black !important; }
      }

      &__data {
        display: grid;
        grid-template-columns: 18% 28% 24% 27% 3%;
        padding: 10px 22px 24px 15px;
        border-top: 1px solid black;
        transition: border-top 0.3s;

        span {
          
          transition: color 0.3s;
        }

        &:hover {
          border-top: 1px solid black !important;
          span {
            color: black !important;
          }
        }

        &-scroll {
          padding: 10px 5px 24px 15px;
        }
      }

      &:hover {
        .modal__project__list__content {
          &__data{
            border-top: 1px solid #A9A8A6;
            span {
              color: #A9A8A6;
            }
          }
        }
      }
    }
  }
}