@import '@assets/scss/variables.scss';

.project__card{
  &__wrapper__link {
    text-decoration: none;
    color:$font-color !important;
    &:visited, &:hover, &:focus, &:active { color:$font-color; }
    &__fade {
      .project__card__data__wrapper {
        opacity: 0.5;
      }
    }
    &__disappear {
      .project__card__data__wrapper {
        opacity: 0;
      }
    }
  }
  &__wrapper {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 50px;
  }

  &__data {
    &__wrapper {
      background-color: $background-color;
      height: 100%;
      transition: opacity 0.5s;
    }
    &__header {
      span {
        font-size: 10px;
      }
      display: grid;
      grid-template-columns: 18% 28% 24% 27% 3%;
      margin-bottom: 50px;
      border-top: 0.5px solid $font-color;
      padding: 10px 12px;
      &-last{
        text-align: end;
      }
    }
    &__image__wrapper {
      display: flex;
      justify-content: center;
      img {
        border: 1px solid $font-color;
        max-height: 60vh;
      }
    }
  }
}