@import '../../../assets/scss/animations.scss';
@import '../../../assets/scss/variables.scss';

@-webkit-keyframes slideLeft {
  100% { left: 0; }
}

@keyframes slideLeft {
  100% { left: 0; }
}

.link{
  &__group{
    &__container{
      align-items: center;
      margin-bottom: 25px;
    }
    &__header{
      text-transform: uppercase;
      color: #a3a3a390;
      font-weight: 900;
      font-size: 12px;
      letter-spacing: 4px;
      margin-bottom: 20px;
      &:before, &:after{
        background-color:#d8d8d82f;
        content: "";
        display: inline-block;
        height: 3px;
        position: relative;
        vertical-align: middle;
        min-width: 120px;
        max-width: 120px;
      }
      &:before{
        right: 0.7em;
      }
      &:after{
        left: 0.7em;
      }
    }
  }
  &__individual{
    &__container{
      margin-bottom: 15px;
      width: 100%;
      min-height: 54px;
      margin-right: -50px;
      position: relative;

      &--slide-animation{
        width: 100%;
        position: absolute;
        left: -500px;
        -webkit-animation: slideLeft 0.5s forwards;
        animation: slideLeft 0.5s forwards;
        align-items: center;
      }
      a{
        width: 100%;
        align-items: center;
        text-decoration: none;
      }
      
      .icon__wrapper{
        border: 2px solid black;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        text-align: center;
        img{
          padding-top: 5px;
          width: 60%;
          height: 80%;
        }
      }

      &:hover{
        .icon__wrapper{
          border: 2px solid $theme-color;
        }
        .link__individual__content{
          color: $theme-color;
        }
      }
    }
    &__subheader{
      color: #a3a3a3;
    }
    &__content{
      color: black;
      font-size: 13px;
    }
  }
}