@import '@assets/scss/variables.scss';

.description{
  &__container {
    font-size: 9px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 35px;
  }
}

.metadata {
  &__container {
    display: flex;
    flex-direction: column;
    font-size: 9px;
  }
  &__header {
    margin-bottom: 25px;
  }
  &__stack, &__information {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: row;
    .left {
      margin-right: 65px;
    }
    &__entry {
      display: flex;
      flex-direction: column;
    }
    &__text {
      text-transform: capitalize;
    }
  }
}