@import '../../assets/scss/variables.scss';

.quick__view__modal{
  position: relative;
}

.bio{
  &__container{
    align-items: center;
    margin-bottom: 40px
  }

  &__image{
    &__container{
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 15px;
    }
    width: 150%;
    height: auto;
    margin: -140px 0px 0px -10px;
  }

  &__name{
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__description{
    color: #a3a3a3;
    margin-bottom: 15px;
    text-align: center;
  }
  &__contact{
    color: #09639E;
    font-size: 12px;
    font-weight: 900;
  }
  &__phone{
    margin-bottom: 5px;
  }
  &__contact__button{
    text-transform: uppercase;
    background-color: $theme-color;
    border: 2px solid black;
    padding: 4px 15px;
    font-size: 12px;
    z-index: 1;
    position: relative;
    
    &:hover:enabled {
      color: white;
      -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      &:after {
        right: 0;
        left: auto;
        width: 0;
      }
    }
    &:after {
      right: 0;
      left: auto;
      width: 0;
      background-color: white;
    }
    &:before, &:after {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}